:root {
    --celestial-blue: #38a3faff;
    --celtic-blue: #3678d3ff;
}

/* ELEMENTOS */
* {
    font-family: 'Titillium Web';
    scroll-behavior: smooth;
    margin-left: 0;
    margin-right: 0;
}

body {
    margin-top: 0;
}

header {
    background-color: var(--celestial-blue);
    padding-top: 5px;
    padding-bottom: 5px;
    position: sticky;
    top: 0;
    z-index: 1;
}

nav > ul {
    padding-left: 0;
    text-align: center;
}

nav > ul > li {
    list-style-type: none;
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
}

nav > ul > li > a {
    list-style-type: none;
    text-decoration: none;
    color: white;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: flex-start;
    text-align: justify;
    margin-left: 15px;
    margin-right: 15px;
}

main > h1 {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 52px;
}

form > input, form > select, form > textarea {
    width: 90%;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}

table {
    border-collapse: collapse;
    padding-top: 5px;
    padding-bottom: 5px;
}

td {
    padding: 0;
}

td > table {
    width: 100%;
}

/* CLASES */
.bordeArriba {
    border-top: 1px solid grey;
}

.bordeAbajo {
    border-bottom: 1px solid grey;
}

.celdaFecha {
    width: 20%;
    font-size: 13px;
    color: grey;
    text-align: center;
}

.celdaHora {
    width: 15%;
    font-size: 13px;
    color: grey;
    text-align: center;
}

.celdaVacia {
    width: 15%;
}

.celdaLugar {
    width: 50%;
    font-size: 13px;
    color: grey;
    text-align: left;
    padding-bottom: 6px;
    padding-left: 4px;
    padding-right: 4px;
}

.celdaEquipo {
    width: 40%;
    font-size: 12px;
    font-weight: bold;
    padding-left: 4px;
    padding-right: 4px;
    text-align: left;
}

.celdaResultado {
    width: 20%;
    text-align: left;
}

.direccionPabellones {
    line-height: 1;
}

.direccionPabellones > div {
    padding: 40px 0;
}

.dorsal {
    color: white;
    font-size: 30px;
}

.filaGris {
    background-color: rgb(241, 241, 241);
    text-align: center;
}

.fotoNoticias {
    width: 90vw;
    align-items: center;
}

.fotoPabellon {
    width: 100%;
}

.fotosPatrocinadores {
    width: 70%;
    padding-bottom: 20px;
    padding-top: 20px;
}

.jugadores {
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 60px;
}
  
.jugadores > article:hover .overlay {
    opacity: 1;
}

.jugadores > article {
    position: relative;
    margin: 20px 20px;
}

.jugadores > article > img {
    border-radius: 20px;
    display: block;
}

.logoRotulo {
    width: 60px;
}

.overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    text-align: center;
    transition: 0.5s ease;
    background-color: var(--celestial-blue);
    opacity: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 20px;
}

.noticiasGetasur {
    padding-bottom: 15px;
    padding-top: 24px;
    margin-bottom: 30px;
    margin-right: 10px;
    margin-left: 10px;
    border-bottom: 2px solid var(--celestial-blue);
    justify-content: center;
    font-size: 22px;
    display: flex;
    flex-wrap: wrap;
}

.noticiasGetasurUltima {
    padding-bottom: 15px;
    padding-top: 24px;
    margin-bottom: 30px;
    margin-right: 10px;
    margin-left: 10px;
    border-bottom: none;
    justify-content: center;
    text-align: justify;
    font-size: 22px;
    display: flex;
    flex-wrap: wrap;
}

.noticiasGetasur > h2 {
    text-align: center;
}

.noticiasGetasur > p {
    text-align: justify;
}

.patrocinadores {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.patrocinadores > h3 {
    padding-top: 70px;
    text-align: left;
}

.patrocinadores.ultimo {
    padding-bottom: 100px;
}

.textoJugadores {
    color: white;
    font-size: 20px;
}

/* ID */
#agradecimiento {
    text-align: center;
    font-size: 1.4rem;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

#celdaIzq {
    text-align: left;
}

#clasificacion {
    text-align: center;
    font-size: 14px;
    width: 100%;
    border: 1px solid grey;
    margin-bottom: 60px;
}

#formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

#formulario > div {
    padding: 15px 0;
    margin-top: 0;
    margin-bottom: 0;
}

#formulario > #politicaPrivacidad {
    align-items: flex-start;
}

#fotoPortada {
    width: 80%;
    border: 5px solid black;
    margin-top: 20px;
}

#mainPortada {
    margin: 0;
}
#mainClasificacion > h2 {
    padding-top: 30px;
}

#navegador {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#navegador > a {
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100vw;
    text-align: center;
    background-color: var(--celestial-blue);
    margin-left: 0;
    list-style-type: none;
    text-decoration: none;
    color: white;
    font-size: 48px;
    border-top: 8px solid var(--celtic-blue);
}

#navegadorUltimo {
    border-bottom: 8px solid var(--celtic-blue);
}

#paginaNoticias {
    margin-bottom: 40px;
}

@media screen and (min-width: 700px) {
    #titulo > h1 {
        font-size: 5rem;
    }
    #titulo > h3 {
        font-size: 3rem;
    }
    header {
        font-size: 1.8rem;
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
    }
    main > h1 {
        font-size: 5rem;
    }
    article > h2 {
        font-size: 200%;
    }
    article > p {
        font-size: 130%;
    }
    #parrafosSueltos {
        font-size: 130%;
    }
    main > h2 {
        font-size: 280%;
    }
    .dorsal {
        font-size: 1.6rem;
    }
    .textoJugadores {
        font-size: 1.4rem;
    }
    
}

#parrafosSueltos {
    justify-content: flex-start;
}

#tablaMadre {
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    width: 100%;
}

#titulo {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    color: var(--celestial-blue);
    position: static;
    margin-bottom: 70px;
}

#titulo > h1 {
    text-align: center;
}

#titulo > h3 {
    text-align: center;
}