:root {
    --celestial-blue: #38a3faff;
    
}

/* ELEMENTOS */



table {
    text-align: center;
    align-items: center;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

td {
    border: 1px solid black;
    vertical-align: middle;
    width: 100px;
    word-wrap: break-word;
}

.filaGris {
    background-color: rgb(212, 212, 212);
    margin-bottom: 8px;
}


* {
    font-family: 'Titillium Web';
    scroll-behavior: smooth;
    margin-left: 0;
    margin-right: 0;
}

header {
    background-color: var(--celestial-blue);
    padding-top: 5px;
    padding-bottom: 5px;
    position: sticky;
    top: 0;
    z-index: 1;
}

nav > ul {
    padding-left: 0;
    text-align: center;
}

nav > ul > li {
    list-style-type: none;
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
}

nav > ul > li > a {
    list-style-type: none;
    text-decoration: none;
    color: white;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 10px;
    margin-right: 10px;
}

main > h1 {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 52px;
}



/* CLASES */
.dorsal {
    color: white;
    font-size: 30px;
}

.fotoNoticias {
    width: 90vw;
    align-items: center;
}

.fotosPatrocinadores {
    width: 70%;
    padding-bottom: 20px;
    padding-top: 20px;
}

.jugadores {
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 60px;
}
  
.jugadores > article:hover .overlay {
    opacity: 1;
}

.jugadores > article {
    position: relative;
    margin: 20px 20px;
}

.jugadores > article > img {
    border-radius: 20px;
    display: block;
}

.logoRotulo {
    width: 60px;
}

.overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    text-align: center;
    transition: 0.5s ease;
    background-color: var(--celestial-blue);
    opacity: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 20px;
}

.noticiasGetasur {
    padding-bottom: 15px;
    padding-top: 24px;
    margin-bottom: 30px;
    margin-right: 10px;
    margin-left: 10px;
    border-bottom: 2px solid var(--celestial-blue);
    justify-content: center;
    font-size: 22px;
    display: flex;
    flex-wrap: wrap;
}

.noticiasGetasurUltima {
    padding-bottom: 15px;
    padding-top: 24px;
    margin-bottom: 30px;
    margin-right: 10px;
    margin-left: 10px;
    border-bottom: none;
    justify-content: center;
    text-align: justify;
    font-size: 22px;
    display: flex;
    flex-wrap: wrap;
}

.noticiasGetasur > h2 {
    text-align: center;
}

.noticiasGetasur > p {
    text-align: justify;
}

.patrocinadores {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.patrocinadores > h3 {
    padding-top: 70px;
    text-align: left;
}

.patrocinadores.ultimo {
    padding-bottom: 100px;
}

.textoJugadores {
    color: white;
    font-size: 20px;
}

/* ID */
#agradecimiento {
    text-align: center;
    font-size: 1.4rem;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

#paginaNoticias {
    margin-bottom: 40px;
}

#parrafosSueltos {
    justify-content: flex-start;
}